In [1]:
import sys
sys.path.append("../src/")
from verif_crawler import CrawlerVerif
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../Data/entreprise_RD_v1.csv')
companies_ids = df['siren'].unique().tolist()[0:2]
companies_names = df['libellé'].unique().tolist()[0:2]

In [6]:
crawler = CrawlerVerif(companies_names, companies_ids)

In [7]:
crawler.crawl_over_all_companies()

#2  Company: DEVOLDER LAURENCE-LOLA
No Found Data
Execution Time: 0.41988062858581543 seconds

Stealing's well done!

In [8]:
crawler.output_df

,SIREN,Nom du compte,Annee,Chiffre d'affaires,Charges d'exploitation,Bénéfice ou Perte,Fonds propres,Immobilisations nettes,Trésorerie,Dettes financières,Total bilan,Frais financiers,Produits financiers,Salaires et charges,Nombre d'employés
0,526020482,HUCHEZ TREUILS,2020,NaN,NaN,NaN,5071571,419749,1649819,932898,7729227,NaN,NaN,NaN,54.0
1,526020482,HUCHEZ TREUILS,2019,NaN,NaN,NaN,3446344,550387,375293,138218,5101699,NaN,NaN,NaN,56.0
2,526020482,HUCHEZ TREUILS,2018,8158226.0,8484770.0,241504.0,3502988,418592,274748,196913,5334711,24530.0,61174.0,2610056.0,52.0
3,526020482,HUCHEZ TREUILS,2017,NaN,NaN,NaN,3318988,271812,319721,181664,4991150,NaN,NaN,NaN,NaN
4,526020482,HUCHEZ TREUILS,2016,7498031.0,7497214.0,432256.0,3140468,249767,790646,229927,4772313,25594.0,42233.0,2335084.0,50.0
5,508178381,DEVOLDER LAURENCE-LOLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN